language = "bash"
testa = "python \"src/main.py\" \"test/a_example\" \"out/outa.txt\""
testb = "python \"src/main.py\" \"test/b_little_bit_of_everything.in\" \"out/outb.txt\""
testc = "python \"src/main.py\" \"test/c_many_ingredients.in\" \"out/outc.txt\""
testd = "python \"src/main.py\" \"test/d_many_pizzas.in\" \"out/outd.txt\""
teste = "python \"src/main.py\" \"test/e_many_teams.in\" \"out/oute.txt\""
run="python \"src/main.py\" \"test/a_example\" \"out/outa.txt\""